#kong-background {
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  text-shadow: 0 0 10px rgba(255,255,255,0.5); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}
